/**
 * reset
 */
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select {
    margin: 0;
    padding: 0;
}

em {
    font-style: normal;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: none;
    vertical-align: top;
}

table {
    border-collapse: collapse;
}

input,textarea {
    outline: none;
}

textarea {
    resize: none;
    overflow: auto;
}

body {
    font-size: 12px;
    font-family: "微软雅黑";
}

/**
 * end reset
 */
/**
 * public 公共部分
 */
body {
    width: 960px;
    margin: 0 auto 30px;
}

.clear {
    zoom:1; }

.clear::after {
    content: "";
    display: block;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/* 设置渐变   处理兼容*/
.gradient {
    background: linear-gradient(top,#ffffff,#f8f8f8);
    background: -moz-linear-gradient(top, #FFFFFF, #f8f8f8);
    background: -webkit-linear-gradient(top, #FFFFFF, #f8f8f8);
    background: -ms-linear-gradient(top, #FFFFFF, #f8f8f8);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#FFFFFF, endColorstr=#f8f8f8)";
    +background: #f9f9f9;
}

/*设置三角*/
.triangle-up,.triangle-down-red,.triangle-down-gray {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.triangle-up {
    border-bottom: 4px solid #ca0309;
}

.triangle-down-red {
    border-top: 4px solid #ca0309;
}

.triangle-down-gray {
    border-top: 4px solid #c4bdbd;
}

/**
 * end public
 */
/**
 * 布局
 */
#header,#nav,.content {
    width: 100%;
}

#search, .section, .login, .slide-section, .kg-border, #footer,.activity, .recommend {
    border-radius: 6px;
    border: 1px solid #dbdbdb;
}

.main-kg, .slide-section, .slide-kg, .kg-border {
    margin-bottom: 10px;
}

/*头部*/
#header {
    height: 30px;
    border-radius: 0 0 6px 6px;
}

#header .city {
    padding: 5px 0 0 20px;
    color: #666;
}

#header .city a {
    display: inline-block;
    padding: 0 7px;
    height: 18px;
    line-height: 18px;
    color: #999;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    box-shadow: 1px 1px 0 #ededed;
}

#header .city .active,#header .city .active:hover {
    color: #d60d03;
    background: #fff;
}

#header .city a:hover {
    background: #f1f1f1;
}

#header .link {
    padding-right: 20px;
    line-height: 30px;
    color: #d5d5d5;
    word-spacing: 4px;
}

#header .link a {
    color: #666;
    background: url(../images/header_link_bg.gif)no-repeat;
    padding-left: 20px;
}

#header .link a:hover {
    text-decoration: underline;
}

#header .link .ico1 {
    background-position: 0 3px;
}

#header .link .ico2 {
    background-position: 0 -27px;
}

/*导航*/
#nav {
    height: 100px;
    position: relative;
}

#nav ul {
    position: absolute;
    top: 10px;
}

#nav ul li {
    float: left;
}

#nav ul li a {
    display: block;
    width: 66px;
    padding-top: 50px;
    background: url(../images/nav_bg.png)no-repeat;
    color: #333;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#nav li a:hover {
    color: #a70c01;
    font-weight: bold;
}

#nav .bg1 {
    background-position: 0 0;
}

#nav .bg2 {
    background-position: -66px 0;
}

#nav .bg3 {
    background-position: -132px 0;
}

#nav .bg4 {
    background-position: -198px 0;
}

#nav .bg5 {
    background-position: -264px 0;
}

#nav .bg6 {
    background-position: -330px 0;
}

#nav .bg7 {
    background-position: -396px 0;
}

#nav .bg8 {
    background-position: -462px 0;
}

#nav .bg9 {
    background-position: -528px 0;
}

#nav .bg10 {
    background-position: -594px 0;
}

#nav .bg1:hover {
    background-position: 0 -70px;
}

#nav .bg2:hover {
    background-position: -66px -70px;
}

#nav .bg3:hover {
    background-position: -132px -70px;
}

#nav .bg4:hover {
    background-position: -198px -70px;
}

#nav .bg5:hover {
    background-position: -264px -70px;
}

#nav .bg6:hover {
    background-position: -330px -70px;
}

#nav .bg7:hover {
    background-position: -396px -70px;
}

#nav .bg8:hover {
    background-position: -462px -70px;
}

#nav .bg9:hover {
    background-position: -528px -70px;
}

#nav .bg10:hover {
    background-position: -594px -70px;
}

#nav .nav-1 {
    left: 11px;
}

#nav .nav-2 {
    right: 11px;
}

#nav .logo {
    width: 223px;
    height: 62px;
    margin: 0 auto;
    position: relative;
    top: 10px;
}

/*搜索*/
#search {
    width: 958px;
    height: 114px;
    position: relative;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    margin-bottom: 10px;
}

#search .bar {
    width: 958px;
    height: 64px;
    border: 1px solid #c40d0e;
    position: absolute;
    left: -1px;
    top: 16px;
    background: #e21c01;
    border-radius: 5px;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.15);
}

#search .menu {
    position: absolute;
    left: 226px;
    top: -27px;
}

#search .menu li {
    float: left;
    width: 78px;
    height: 25px;
    margin-right: 1px;
    border: 1px solid #f8d0bf;
    border-bottom: none;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    box-shadow: 1px 0px 2px rgba(176,176,176,0.3);
}

#search .menu li.active {
    border: 1px solid #e21c01;
    position: relative;
    top: -1px;
    height: 27px;
    background: #e21c01;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.25);
}

#search .img {
    width: 163px;
    height: 122px;
    background: url(../images/search_img.png)no-repeat;
    position: absolute;
    left: 32px;
    top: -3px;
}

#search .form {
    position: absolute;
    left: 226px;
    top: 36px;
}

#search .form .text {
    width: 380px;
    height: 22px;
    line-height: 22px;
    padding: 0 12px;
    background: #fff1ef;
    border-radius: 3px;
    border: 0;
    margin-right: 10px;
    font-size: 12px;
    color: #ea7a7a;
    float: left;
    box-shadow: inset 2px 2px 3px rgba(0,0,0,0.25);
}

#search .form .btn {
    width: 63px;
    height: 26px;
    background: url(../images/search_img.png)no-repeat -160px 0;
    border: 0;
    float: left;
    cursor: pointer;
}

#search .key-text {
    width: 206px;
    height: 35px;
    overflow: hidden;
    color: #fff;
    line-height: 18px;
    position: absolute;
    right: 36px;
    top: 30px;
}

#search .key-text a {
    color: #fff;
}

#search .key-text a:hover {
    text-decoration: underline;
}

#search .update {
    width: 405px;
    height: 30px;
    position: absolute;
    left: 226px;
    bottom: 0;
    background: url(../images/search_img.png)no-repeat -226px 8px;
}

#search .wrap {
    width: 336px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    left: 60px;
}

#search .update ul {
    width: 336px;
    position: absolute;
    top: 0px;
    left: 0;
}

#search .update li {
    height: 30px;
    line-height: 30px;
}

#search .update a {
    color: #000;
    display: inline-block;
}

#search .update a:hover {
    text-decoration: underline;
}

#search .update strong {
    color: #d30703;
    font-weight: normal;
}

#search .update span {
    color: #999;
}

#search .triangle-up {
    top: 8px;
    right: 0;
}

#search .triangle-down-red {
    top: 17px;
    right: 0;
}

/*内容*/
.main {
    width: 710px;
}

.main-wrap {
    padding-bottom: 10px;
}

.section {
    width: 318px;
    padding: 0 15px;
}

.option {
    width: 350px;
    position: relative;
}

.activity, .recommend {
    width: 348px;
    height: 498px;
}

.main-kg {
    border-radius: 6px;
    overflow: hidden;
}

/*title*/
.voide-title {
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    font-family: arial;
    background: url(../images//video_bg.gif) no-repeat 105px 10px;
    color: #d90000;
    position: relative;
    font-weight: normal;
}

.voide-title sup {
    position: absolute;
    top: -10px;
    font-family: '宋体';
}

.voide {
    margin-bottom: 13px;
}

.voide-list {
    padding-left: 75px;
    height: 78px;
    background: url(../images/video_bg.gif) no-repeat 3px -47px;
}

.voide-list li {
    line-height: 20px;
    text-indent: 14px;
    background: url(../images/dot.gif) no-repeat 5px center;
}

.voide-list a {
    color: #4d4d4d;
}

.voide-list a:hover {
    text-decoration: underline;
}

/*tab*/
.option .nav {
    height: 34px;
    position: relative;
    z-index: 2;
}

.option .nav .active {
    height: 34px;
    line-height: 34px;
    background: #fff;
}

.option .nav li {
    width: 172px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    position: relative;
    border: 1px solid #dbdbdb;
    border-bottom: none;
    cursor: pointer;
    border-radius: 6px 6px 0 0;
}

.nav .triangle-down-red, .nav .triangle-down-gray {
    top: 14px;
    right: 12px;
}

.option .con {
    width: 318px;
    padding: 0 15px;
    border: 1px solid #dbdbdb;
    border-radius: 0 0 6px 6px;
    position: absolute;
    top: 34px;
    left: 0;
}

.option .con img {
    display: block;
}

.option .hot-list {
    height: 374px;
    padding-top: 10px;
    position: relative;
}

.option .hot-list li {
    width: 100%;
    height: 98px;
    padding-top: 10px;
    margin-bottom: 6px;
    background: url(../images/hot_list_li_bg.gif);
}

.option .hot-list li .img {
    float: left;
    width: 106px;
    height: 86px;
}

.option .hot-list li .img a {
    display: block;
    width: 104px;
    height: 84px;
    border: 1px solid #e6e6e6;
}

.option .hot-list li .img a:hover {
    border: 1px solid #929292;
}

.option .hot-list li .img a img {
    display: block;
    width: 100%;
    height: 100%;
}

.option .hot-list .text {
    float: right;
    width: 190px;
}

.option .hot-list .text h3 {
    line-height: 24px;
    font-size: 12px;
    padding-bottom: 6px;
}

.option .hot-list h3 a {
    font-weight: normal;
    color: #bb0d0d;
}

.option .hot-list p {
    color: #6e6e6e;
    line-height: 18px;
}

.option .hot-list .more {
    position: absolute;
    bottom: 6px;
    right: 0;
}

/*title*/
.nav li strong,.main-title strong {
    color: #cc0d13;
    font-family: arial;
    font-size: 12px;
}

.nav li strong span,.main-title strong span {
    color: #000;
}

.main-title {
    height: 40px;
    line-height: 40px;
    position: relative;
}

.main-title a {
    position: absolute;
    top: 15px;
    right: 0;
}

.new-title {
    height: 70px;
    position: relative;
    background: url(../images/new_title_bg.gif) no-repeat right 0;
}

.new-title strong, .new-title span {
    position: absolute;
    left: 24px;
}

.new-title strong {
    font-size: 12px;
    font-family: arial;
    color: #ea2b31;
    top: 19px;
}

.new-title span {
    font-size: 24px;
    color: #333;
    top: 31px;
    font-weight: normal;
}

.new-title em {
    font-size: 36px;
    font-weight: bold;
    color: #ec1c16;
    position: absolute;
    left: 125px;
    top: 16px;
}

.recommend .new-title {
    background-position: right -70px;
}

.activity .con {
    background: url(../images/activity_bg.gif) no-repeat;
}

.activity .info {
    padding: 16px 25px 0;
    height: 104px;
    overflow: hidden;
}

.activity .img {
    float: left;
    width: 84px;
    height: 84px;
    position: relative;
}

.activity .mask {
    width: 84px;
    height: 84px;
    background: url(../images/activity_bg.gif) no-repeat -373px 0;
    position: absolute;
    top: 0;
    left: 0;
}

.activity .text {
    float: right;
    width: 204px;
}

.activity .text h3 {
    height: 32px;
    font-size: 12px;
}

.activity .text em, .activity .text span {
    float: left;
    margin-right: 4px;
}

.activity .text em {
    width: 25px;
    height: 25px;
    background: url(../images/activity_bg.gif) no-repeat -348px 0;
    font-family: arial;
    font-size: 14px;
    color: #cf3530;
    text-align: center;
    line-height: 25px;
}

.activity .text span {
    text-indent: 2px;
    padding-top: 4px;
}

.activity .text p {
    line-height: 18px;
    color: #999;
}

/*日期*/
.calendar {
    width: 323px;
    padding-left: 25px;
    position: relative;
}

.calendar h3 {
    height: 34px;
    line-height: 34px;
    color: #666;
    text-align: center;
    margin-right: 31px;
    background: url(../images/adorn.gif) repeat-x;
    word-spacing: 10px;
}

.calendar h3 span {
    font-size: 14px;
    font-weight: normal;
    font-family: arial;
}

.calendar ol li {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 2px 2px 0;
    background: #ededed;
    font-weight: bold;
    color: #666;
    font-family: arial;
    float: left;
    position: relative;
}

.calendar ol .normal {
    background: #f8f8f8;
    color: #ccc;
}

.calendar .active, .calendar .img {
    position: absolute;
    top: 0;
    left: 0;
}

.calendar .img,.calendar .img img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.calendar .active {
    width: 36px;
    height: 36px;
    border: 2px solid #d30408;
    cursor: pointer;
}

.today-info {
    width: 294px;
    height: 84px;
    padding: 10px;
    border: 1px solid #c0c0c0;
    background: #fff;
    position: absolute;
    top: 136px;
    left: 288px;
    box-shadow: 4px 4px 0 rgba(0,0,0,0.2);
    display: none;
}

.today-info img {
    width: 80px;
    height: 80px;
    border: 2px solid #dbdbdb;
    float: left;
}

.today-info .text {
    width: 200px;
    float: right;
}

.today-info .text h4 {
    font-size: 12px;
    color: #333;
    padding-bottom: 8px;
}

.today-info strong {
    color: #ccc;
    font-size: 18px;
    vertical-align: middle;
}

.today-info p {
    color: #999;
    line-height: 20px;
}

.today-info span {
    display: block;
    width: 8px;
    height: 14px;
    position: absolute;
    left: -8px;
    top: 50%;
    margin-top: -7px;
    background: url(../images/adorn.gif) no-repeat 0 -48px;
}

.recommend .pic {
    width: 294px;
    height: 168px;
    padding: 12px 12px 0;
    background: #f8f8f8;
    position: relative;
    margin: 0 auto;
    border-radius: 6px;
}

.recommend .pic ul {
    width: 223px;
    height: 133px;
    position: absolute;
    top: 12px;
    left: 12px;
}

.recommend .pic ul li {
    width: 223px;
    height: 133px;
    border: 1px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
}

.recommend .pic ul li img {
    width: 223px;
    height: 133px;
}

.recommend .pic ol {
    position: absolute;
    top: 12px;
    right: 12px;
}

.recommend .pic ol li {
    border: 3px solid #fff;
    margin-bottom: 13px;
}

.recommend .pic ol li.active {
    border: 3px solid #d6191d;
}

.recommend .pic ol li,.recommend .pic ol li img {
    width: 54px;
    height: 30px;
}

.recommend .pic p {
    position: absolute;
    bottom: 0;
    left: 12px;
    line-height: 32px;
}

.recommend .list {
    padding: 18px 26px 0;
}

.recommend .list li {
    height: 27px;
}

.recommend .list a {
    float: left;
    color: #454545;
}
.recommend .list a:hover{
    color: #b80000;
    text-decoration: underline;
}
.recommend .list span {
    float: left;
    width: 23px;
    color: #dfdfdf;
    margin-right: 7px;
}

.recommend .list span img {
    margin-right: 3px;
    margin-top: 3px;
}

.recommend .list em {
    float: right;
    font-family: arial;
    font-size: 12px;
    color: #999;
}

.bbs {
    height: 328px;
}

.bbs ol li {
    height: 30px;
    line-height: 30px;
    margin-bottom: 3px;
    background: #f8f8f8;
    border-radius: 6px;
    position: relative;
}

.bbs ol strong, .bbs ol a {
    float: left;
}

.bbs ol strong {
    color: #d80000;
    width: 45px;
    text-indent: 10px;
}

.bbs ol a {
    color: #333;
}

.bbs ol b {
    float: right;
    margin-right: 22px;
    color: #666;
    font-weight: normal;
}

.bbs ol img ,.bbs ol span,.bbs ol em {
    display: none;
    position: absolute;
}

.bbs ol li.active {
    height: 70px;
    background: #d90000;
}

.bbs ol li.active img,.bbs ol li.active span,.bbs ol li.active em {
    display: block;
}

.bbs ol li.active strong,.bbs ol li.active b {
    display: none;
}

.bbs ol li.active img {
    display: block;
    top: 10px;
    left: 10px;
}

.bbs ol li.active a {
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 7px;
    left: 70px;
}

.bbs ol li.active span {
    display: block;
    color: #fff;
    top: 33px;
    left: 70px;
}

.bbs ol li.active em {
    display: block;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    bottom: -5px;
    right: 4px;
}

.section .tab{
	padding:0 10px;
}
.section .tab ul li{
	width: 98px; 	
}
.section .col1{
	width: 80%;
}
.section .col2{
	width: 20%;
}
/*tab*/
.tab{
	height: 25px;
    border-bottom: 1px solid #dadada;
}
.tab ul{
	height: 26px;
	/*margin-bottom: 1px;*/
}
.tab ul li{
	float: left;
	height: 24px;
    text-align: center;
    line-height: 24px;
    color: #666;
    border: 1px solid #dadada;
    position: relative;
    cursor: pointer;
    border-radius: 4px 4px 0 0;
    margin-right: -1px;	 	
}
.tab li a {
    top: 10px;
    right: 12px;
}
.tab .active {
    border-bottom: 1px solid #fff;
    background: #fff;
    font-weight: bold;
    color: #454545;
}

/*list-section*/

.list-section li{
	height: 27px;
    line-height: 27px;
    border-top: 1px dotted #dadada;
    background: url(../images/dot.gif) no-repeat 5px center;
}
.list-section .title {
    background: none;
    color: #999;
    border-top: none;
}
.list-section .col1,.list-section .col2,.list-section .col3{
	float: left;
	text-align: center;
}
.list-section li a {
    float: left;
    color: #333;
    text-indent: 14px;
}
.list-section li a em {
    color: #c3c3c3;
}
.list-section li a em span{
    color: #c75d61;
}
.list-section li img{
   vertical-align: middle;
}


.soso{
	height: 47px;
    border-top: 1px dotted #dadada;
    padding: 17px 0 0 10px;
}
.soso strong {
    color: #595959;
    padding-top: 3px;
}
.soso .text{
	width: 172px;
    height: 20px;
    padding: 0 4px;
    border: 1px solid #9c9c9c;
    line-height: 20px;
    color: #9c9c9c;
}
.soso .btn {
    width: 24px;
    height: 25px;
    background: url(../images/btn.gif);
    border: none;
    margin-left: 10px;
}

.hot-area{
	height: 258px;
}
.hot-area li{
	float: left;
	margin:0 2px 2px 0;
	position: relative;
}
.hot-area li,.hot-area li img{
	width: 78px;
	height: 78px;
}
.hot-area li.area1,.hot-area li.area1 img{
	width: 156px;
	height: 78px;
}
.hot-area li.area2,.hot-area li.area2 img{
	width: 77px;
	height: 78px;
}
.hot-area li p{
	width: 100%;
	height: 100%;
	padding:12px 0 0 12px;
	background: rgba(0,0,0,0.5);
    color: #fff;
	position: absolute;
	left: 0;
	top:0;
	box-sizing: border-box;
}
.hot-area li p span{
	display: block;
    width: 100%;
	height: 20px;
	line-height: 20px;
    overflow: hidden;
}
.help{
	height: 208px;
}
.help p{
	text-indent:2em;
}
.help ul{
	height: 44px;
    line-height: 44px;
    border-bottom: 1px solid #dbdbdb;
}
.help ul li{
	width: 50%;
	text-indent: 30px;
	background: url(../images/help.gif) no-repeat;
}
.help ul .phone{
    font-size: 16px;
    font-weight: bold;
    color: #b80000;
    background-position: 7px 11px;
}
.help ul .msn{
  background-position: 7px -31px;
}
.help dl {
    width: 144px;
    padding: 15px 0 0 10px;
    line-height: 18px;
}
.help dt {
    font-weight: bold;
    padding-bottom: 8px;
}	

.help dd {
    background: url(../images/dot.gif) no-repeat 4px center;
    text-indent: 12px;
}
.help dd a {
    color: #333;
}

.media {
    height: 205px;
    padding-top: 3px;
}
.media li{
	height: 50px;	
}
.media li a p{
	float: right;
	width: 208px;
	height: 31px;
	overflow: hidden;
	color: #333;
}
.media li a img{
	width: 88px;
	height: 31px;
	margin-right: 20px;
	float: left;
}
.media li a:hover padding: ;{
	color: #b80000;
}
/*侧边栏*/
.slide {
    width: 240px;
}

.slide .login {
    height: 138px;
    overflow: hidden;
    margin-bottom: 10px;
}

.slide .login h2{
    text-indent: 12px;
    color: #000;
    font-size: 12px;
    line-height: 34px;
    border-bottom: 1px solid #dbdbdb;
}
.slide .login .form {
    padding: 15px 0 2px 12px;
    border-bottom: 1px solid #f2f2f2;
    position: relative;
}
.slide .login li {
    height: 26px;
}
.slide .login span {
    float: left;
    width: 58px;
    color: #595959;
    word-spacing: 7px;
}
.slide .login .text {
    float: left;
    width: 87px;
    height: 17px;
    margin-right: 3px;
    overflow: hidden;
    border: 1px solid #dbdbdb;
    background: #f7f7f7;
}
 .login .btn {
    width: 54px;
    height: 22px;
    border: none;
    background: #cb0000;
    color: #fff;
    font-family: '宋体';
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
}
.slide .login p {
    line-height: 32px;
    text-align: center;
    word-spacing: 20px;
}
.slide .login p a {
    padding-left: 14px;
    background: url(../images/dot.gif) no-repeat 4px center;
    color: #666;
}
.slide-section {
    padding: 0 12px;
}
.slide-section .tab{
	padding:0 6px;
}
.slide-section .tab li{
	width: 66px;
}
.slide-section .col1{
	width: 137px;
}
.slide-section .col2{
	width: 35px;
}
.slide-section .col3{
	width: 36px;
}
.slide-section .col2.red{
	color: #d80000;
}
.slide-kg {
    border-radius: 6px;
    overflow: hidden;
}

.gk-border {
    width: 238px;
    height: 88px;
    overflow: hidden;
}
.panoramic a{
	display: block;
	height: 138px;
	color: #333;
	line-height: 26px;
}
.panoramic a:hover{
	color: #b80000;
	text-decoration: underline;
}
.panoramic a img{
	display: block;
	width: 214px;
	height: 110px;
}
/*pic-list*/
.pic-list li{
	overflow: hidden;
}
.pic-list li .img{
	width: 96px;
    height: 73px;
    position: relative;
}
.pic-list .img a {
    display: block;
    width: 90px;
    height: 67px;
    padding: 2px;
    border: 1px solid #dadada;
}
.pic-list .img a img {
    display: block;
    width: 90px;
    height: 67px;
}
.pic-list .text{
	width: 108px;
	float: right;
}
.pic-list .text h3 a{
	color: #b80000;
    font-weight: normal;
    font-size: 12px;
}
.pic-list .text p {
    color: #999;
}
.pic-list .text p a {
    color: #666;
}
.pic-list .text p a:hover {
   color: #b80000;
   text-decoration: underline;
}
.section1{
	padding-bottom:5px;
}
.section2 .pic-list li{
    border-bottom: 1px dotted #dadada;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.section2{
    padding-bottom: 2px;
}
.section3{
	padding-bottom: 1px;
}
.section3 .pic-list{
	margin-bottom: 10px;
}
.section4{
	padding-bottom: 10px;
}
.section4 .pic-list li{
	float: left;
    width: 107px;
    height: 150px;
}
.section4 .pic-list h3{
	padding:5px 0 4px;
}
/*底部*/
#footer {
    width: 958px;
    height: 64px;
    padding: 14px 0 0;
    line-height: 25px;
    background: #f9f9f9;
    color: #767676;
    text-align: center;
}

#footer a {
    color: #454545;
    margin: 0 6px;
}

#footer a:hover {
    text-decoration: underline;
}

#footer span {
    margin-left: 10px;
}

/*设置tab*/
.tabCon1,.tabCon2,.tabCon3,.tabCon4{
    display: none;
}
.tabCon1:nth-of-type(1),.tabCon2:nth-of-type(1),.tabCon3:nth-of-type(1),.tabCon4:nth-of-type(1){
    display: block;
}